body {
  padding-top: 0px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.color1{
  background-color:#9ac1bc !important ;
}
.color2{
  background-color:#fb7b22 !important;
}
.color3{
  background-color:#3dd700 !important;
}
.dow{
  color: gray;
  font-size:7px;
  display: block;
}

.help{
  font-size: small;
  color:#595656;
  font-style: italic;
  
}
.promo{
  max-height: 250px !important;
}
.options label{
  display: block;
}
.options select{
  width: 150px;
}

.tableSchedule tbody tr td {
  background-color:black;
  }